/* DM Sans */
@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400 500 600 700 800;
  font-style: normal;
  font-display: swap;
}
